#all {
    padding: 30px;
}

#generalData, #statsData {
    padding: 30px 20px;
    border-left: var(--sbg) solid 6px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}